<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
</head>
<body>
<h1 style="font-family: 'Comic Sans MS'"><%= title %></h1>

<a href="http://localhost:3000/admin/userlist" class="btn-gradient red" >User List</a><br/><br/>
<a href="http://localhost:3000/admin/imagelist" class="btn-gradient green">Image List</a>
</body>

</html>
