<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="font-family: 'Comic Sans MS'"><%= title %></h1>
    <p>The project is for the copyright platform</p>
    <p>This page indicates that the server has been activated. Welcome :)</p>
  </body>
</html>
