<!DOCTYPE html>
<html>
<head>
    <title>About the project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome</h1>
<h2><%= title %></h2>
<p>Tools Systems Framework</p>
<ul style="font-family: 'Comic Sans MS';font-style: italic">
    <li>IPFS</li>
    <li>BigchainDB</li>
    <li>Vue.js</li>
    <li>Express</li>
</ul>
</html>
